PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=oficina

JWT_SECRET=troque-por-um-segredo-forte-de-acesso
JWT_ACCESS_EXPIRES=10m
JWT_REFRESH_SECRET=troque-por-um-segredo-forte-de-refresh
JWT_REFRESH_EXPIRES=7d

BCRYPT_SALT_ROUNDS=10

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@oficina.com
ADMIN_PASSWORD=Admin@123

SONAR_PORT=9000
